/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
html {
  background: url(../images/bg.png);
}
#section-content {
  background: #efece8;
  border-top: 12px solid #bfbdba;
  border-bottom: 12px solid #bfbdba;
}
#zone-content-wrapper,
#zone-postscript-wrapper {
  background: #f1f1f1;
}

body {
  color: #444444;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arvo,'Times New Roman',serif;
  font-weight: 700;
  letter-spacing: 0em;
}

#region-branding {
  margin-top: 32px;
}
#region-branding .logo-img {
  text-align: center;
  float: none;
}
#main-menu {
  font-family: Arvo,'Times New Roman',serif;
  font-weight: 700; 
  font-size: 13px;
}
.navigation {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#main-menu li {
  margin-right: 15px;
}
#main-menu li.last {
  margin-right: 0;
}
#main-menu a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
#main-menu a:hover,
#main-menu a:active,
#main-menu a.active,
#main-menu a.active-trail {
  color: #fee271;
  border-bottom: 3px solid #fee271;
}

h1#page-title {
  text-transform: uppercase;
  padding: 10px 24px 24px 24px;
  border-bottom: 1px solid #d8d8d8;
  font-size: 48px;
}
body.front h1#page-title {
  display: none;
}